<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- Storage permissions for Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    
    <!-- Legacy storage permissions for Android 12 and below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mock"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".EditRoomActivity"
            android:exported="false" />
        <activity
            android:name=".AddRoomsActivity"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Add"
            android:exported="false" />
        <activity
            android:name=".Bed"
            android:exported="false" />
        <activity
            android:name=".Private"
            android:exported="false" />
        <activity
            android:name=".Type"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Manage"
            android:exported="false" />
        <activity
            android:name=".Room"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Messages"
            android:exported="false" />
        <activity
            android:name=".EditBoardingHouseActivity"
            android:exported="false" />
        <activity
            android:name=".TransactionsLogsActivity"
            android:exported="false" />
        <activity
            android:name=".RoomViewActivity"
            android:exported="false" />
        <activity
            android:name=".Conversation"
            android:exported="false" />
        <activity
            android:name=".EditOwnerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BookingsActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".GcashInfoActivity"
            android:exported="false" />
        <activity
            android:name=".BoardersListActivity"
            android:exported="false" />
        <activity
            android:name=".MaintenanceRequestsActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".BoardingHouseDetailsActivitySimple"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".Registration2Activity"
            android:exported="false" />
        <activity
            android:name=".BoarderDashboard"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".PreBookingPhase1Activity"
            android:exported="false" />
        <activity
            android:name=".PreBookingActivity"
            android:exported="false" />
        <activity
            android:name=".BookingConfirmationActivity"
            android:exported="false" />
        <activity
            android:name=".BoardingHouseDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerMessages"
            android:exported="false" />
        <activity
            android:name=".BoarderMessages"
            android:exported="false" />
        <activity
            android:name=".Details"
            android:exported="false" />
        <activity
            android:name=".GuestHomeActivity"
            android:exported="false" />
            
        <!-- FileProvider for camera access -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>